* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* variáveis devem ser colocadas aqui */
}

html {
  scroll-behavior: smooth;
  border: 0.1rem solid black;

  /* scroll-padding-top: 5.0rem; */

  /* scroll padding é opcional */
}

body {
  width: 100%;
  background: rgb(64, 64, 64);
  font-size: 1.6rem;
}

main {
  max-width: 136.6rem;
}

#color-palette {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.color {
  width: 10rem;
  height: 10rem;
  margin: 0.8rem;
  border: 0.1rem solid black;
}

.color:nth-child( 1 ) {
  background: black;
}

.color:nth-child( 2 ) {
  background: red;
}

.color:nth-child( 3 ) {
  background: green;
}

.color:nth-child( 4 ) {
  background: blue;
}

#button-random-color {
  display: flex;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  background: cyan;
  border-radius: 5rem;
  cursor: pointer;
  user-select: none;
}
